<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile - Messaging App</title>
    <link rel="stylesheet" href="/css/profilePage.css" />
  </head>
  <body>
    <div class="profile-container">
      <div class="profile-box">
        <div class="menu-button" id="menuButton">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>

        <img
          src="https://via.placeholder.com/80"
          alt="Profile Picture"
          class="profile-image"
        />
        <div class="username"><%= user.username %></div>
        <ul class="contacts-list">
          <% if (friends && friends.length > 0) { %> 
          <% friends.forEach(function(friend) { %>
          <li>
            <div class="contact-name"><%= friend.username %></div>
            </div>
            <% }) %>
          <% } else { %>
          <% } %>
        </ul>
      </div>
    </div>

    <div class="add-user-button" id="addUserButton">+</div>

    <div class="friend-requests-button" id="friendRequestsButton">
      <img src="/images/addPerson.svg" alt="Add Friend" />
    </div>

    <div class="dropdown-menu friend-requests-dropdown" id="friendRequestsMenu">
      <ul>
        <% if (friendRequests && friendRequests.length > 0) { %> <%
        friendRequests.forEach(function(request) { %>
        <li>
          <span><%= request.username %></span>
          <button class="accept-button" data-id="<%= request.id %>">
            Accept
          </button>
          <button class="decline-button" data-id="<%= request.id %>">
            Decline
          </button>
        </li>
        <% }) %> <% } else { %>
        <li>No friend requests</li>
        <% } %>
      </ul>
    </div>

    <form class="search-container" id="searchContainer">
      <input
        type="text"
        id="searchInput"
        name="friendReq"
        placeholder="Enter username"
        required
      />
      <button type="submit" id="addButton">Add</button>
    </form>

    <div class="dropdown-menu logout-dropdown" id="dropdownMenu">
      <ul>
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
    </div>

    <script src="/js/logUserOut.js"></script>
    <script src="/js/dropDownMenu.js"></script>
    <script src="/js/friendRequestMenu.js"></script>
    <script src="/js/searchBar.js"></script>
    <script src="/js/sendFriendRequest.js"></script>
    <script src="/js/requestStatus.js"></script>
  </body>
</html>
